.squareArea {
  margin-left: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 243px));
  grid-template-rows: repeat(auto-fit, minmax(50px, 50px));
  grid-template-areas:
    "tm tm"
    "f sm";
  align-items: center;
}

.measureTop {
  grid-area: tm;
  text-align: center;
}

.measureSide {
  grid-area: sm;
  writing-mode: vertical-rl;
}

.square {
  grid-area: f;
  height: 446px;
  width: 446px;
  border: solid 5px black;
  border-radius: 3px;
}
