.mediaBox {
  background-color: var(--yellow);
  box-shadow: 8px 8px 0 rgb(32 33 37 / 10%);
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: end;
}

.textArea {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 6rem;
}

.imageArea {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
